#header{
background-color: #333333;
height: 100px;
}

#main{
    margin: 50px auto;
    width: 960px;
    min-height: 100px;
    background-color: #efefef
    
}

#footer{
    background-color: #333333;
    height: 100px;
}

#vycka{
    width: 100%;
}

body{
    background-image: url(background.jpg);
}

#news{
    width: 640px;
    min-height: 100px;
    background-color: bisque;
}

#ad{
    width: 320px;
    min-height: 100px;
    background-color: aquamarine;
}

.article{
    height: 320px;
    width: 320px;
    background-color: red;
}

#firstRow{
    display: flex;
}

#articles{
    display: flex;
}